.lcol {color:black}
a:hover {color:royalblue; text-decoration:none}

.bdcset {height: 550px ; background-color: aliceblue}
.hdset {background-color: aliceblue}


.likescol {background-color: #fff; border: none}