<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bdreple">

    <select id="selectReply" statementType="PREPARED"
            parameterType="String" resultType="ybc.spring.mvc.vo.Reple" >
        select * from Preple where bdno = #{bdno}
        order by rpno
    </select>

    <select id="selectLastRno" statementType="PREPARED"
            resultType="String">
        select auto_increment from information_schema.TABLES
        where TABLE_NAME = 'Preple'
    </select>

    <insert id="insertComment" statementType="PREPARED"
            parameterType="ybc.spring.mvc.vo.Reple">
        insert into Preple (contents, userid, bdno, rpno)
        values (#{contents}, #{userid}, #{bdno}, #{rpno})
    </insert>

</mapper>