<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park">

    <select id="selectPark" statementType="PREPARED" parameterType="map" resultType="ybc.spring.mvc.vo.Park"> <!-- 이거 resultType 변해야하는지 테스트해보기 -->
        select *
        from Park
        where
        (addr1 like concat('%', #{addr}, '%') or addr2 like concat('%', #{addr}, '%'))
        <if test="shour != ''">and cast(substring_index(#{shour}, ':', 1) as int) <![CDATA[<=]]> cast(substring_index(shour, ':', 1) as int)</if>
        <if test="ehour != ''">and cast(substring_index(#{ehour}, ':', 1) as int) <![CDATA[>=]]> cast(substring_index(ehour, ':', 1) as int)</if>
        <if test="satshour != ''">and cast(substring_index(#{satshour}, ':', 1) as int) <![CDATA[<=]]> cast(substring_index(satshour, ':', 1) as int)</if>
        <if test="satehour != ''">and cast(substring_index(#{satehour}, ':', 1) as int) <![CDATA[>=]]> cast(substring_index(satehour, ':', 1) as int)</if>
        <if test="holshour != ''">and cast(substring_index(#{holshour}, ':', 1) as int) <![CDATA[<=]]> cast(substring_index(holshour, ':', 1) as int)</if>
        <if test="holehour != ''">and cast(substring_index(#{holehour}, ':', 1) as int) <![CDATA[>=]]> cast(substring_index(holehour, ':', 1) as int)</if>

        <if test="weekday != ''">and busday like concat('%', '평일', '%')</if>
        <if test="saturday != ''">and busday like concat('%', '토요일', '%')</if>
        <if test="holiday != ''">and busday like concat('%', '공휴일', '%')</if>
        <if test="gubun != ''">and gubun like concat('%', #{gubun}, '%')</if>
        <if test="buze != ''">and buze like concat('%', #{buze}, '%')</if>

        <if test="onedaypass != ''">and onedaypassfee is not null</if>
        <if test="monthpassfee != ''">and monthpassfee is not null</if>
        <if test="cash != ''">and payment like concat('%', '현금', '%')</if>
        <if test="card != ''">and payment like concat('%', '카드', '%')</if>
        <if test="others != ''">and payment like concat('%', '', '%')</if>
    </select>

    <select id="selectCnt" statementType="PREPARED" parameterType="map" resultType="int">
        select count(*)
        from Park
        where
        (addr1 like concat('%', #{addr}, '%') or addr2 like concat('%', #{addr}, '%'))
        <if test="shour != ''">and cast(substring_index(#{shour}, ':', 1) as int) <![CDATA[<=]]> cast(substring_index(shour, ':', 1) as int)</if>
        <if test="ehour != ''">and cast(substring_index(#{ehour}, ':', 1) as int) <![CDATA[>=]]> cast(substring_index(ehour, ':', 1) as int)</if>
        <if test="satshour != ''">and cast(substring_index(#{satshour}, ':', 1) as int) <![CDATA[<=]]> cast(substring_index(satshour, ':', 1) as int)</if>
        <if test="satehour != ''">and cast(substring_index(#{satehour}, ':', 1) as int) <![CDATA[>=]]> cast(substring_index(satehour, ':', 1) as int)</if>
        <if test="holshour != ''">and cast(substring_index(#{holshour}, ':', 1) as int) <![CDATA[<=]]> cast(substring_index(holshour, ':', 1) as int)</if>
        <if test="holehour != ''">and cast(substring_index(#{holehour}, ':', 1) as int) <![CDATA[>=]]> cast(substring_index(holehour, ':', 1) as int)</if>

        <if test="weekday != ''">and busday like concat('%', '평일', '%')</if>
        <if test="saturday != ''">and busday like concat('%', '토요일', '%')</if>
        <if test="holiday != ''">and busday like concat('%', '공휴일', '%')</if>
        <if test="gubun != ''">and gubun like concat('%', #{gubun}, '%')</if>
        <if test="buze != ''">and buze like concat('%', #{buze}, '%')</if>

        <if test="onedaypass != ''">and onedaypassfee is not null</if>
        <if test="monthpassfee != ''">and monthpassfee is not null</if>
        <if test="cash != ''">and payment like concat('%', '현금', '%')</if>
        <if test="card != ''">and payment like concat('%', '카드', '%')</if>
        <if test="others != ''">and payment like concat('%', '', '%')</if>
    </select>

</mapper>