<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park">

    <select id="selectPark" statementType="PREPARED" parameterType="map" resultType="ybc.spring.mvc.vo.Park"> <!-- 이거 resultType 변해야하는지 테스트해보기 -->
        select *
        from Park
        <if test="addr != '' or shour != '' or ehour != '' or satshour != '' or satehour != '' or holshour != '' or holehour != '' or weekday != '' or saturday != '' or holiday != '' or gubun != ''">
            where
        </if>
        <if test="addr != ''">addr1 like concat('%', #{addr}, '%') or addr2 like concat('%', #{addr}, '%')</if>
<!--        <if test="shour != ''">shour = #{shour}</if>-->
<!--        <if test="ehour != ''">ehour = #{ehour}</if>-->
<!--        <if test="satshour != ''">satshour = #{satshour}</if>-->
<!--        <if test="satehour != ''">satehour = #{satehour}</if>-->
<!--        <if test="holshour != ''">holshour = #{holshour}</if>-->
<!--        <if test="holehour != ''">holehour = #{holehour}</if>-->
<!--        <if test="weekday != ''"> busday like concat('%', #{weekday}, '%')</if>-->
<!--        <if test="saturday != ''"> busday like concat('%', #{saturday}, '%')</if>-->
<!--        <if test="holiday != ''"> busday like concat('%', #{holiday}, '%')</if>-->
<!--        <if test="gubun != ''"> gubun = #{gubun}</if>-->
    </select>

    <select id="selectCnt" statementType="PREPARED" parameterType="map" resultType="int">
        select count(*)
        from Park
        <if test="addr != '' or shour != '' or ehour != '' or satshour != '' or satehour != '' or holshour != '' or holehour != '' or weekday != '' or saturday != '' or holiday != '' or gubun != ''">
            where
        </if>
        <if test="addr != ''">addr1 like concat('%', #{addr}, '%') or addr2 like concat('%', #{addr}, '%')</if>
    </select>

</mapper>